body {
	background-image: linear-gradient(rgb(145, 48, 48), rgb(255, 102, 0));
	font-family:sans-serif;
	background-size:1700px;
  }
  p {
	color: red;
	color:red;
	font-family:sans-serif;
  }
  h1 {
	font-weight: 100;
	color:black;
	font-family:sans-serif;
	text-align:center;
  }
  h2 {
	font-weight:100;
	color:black;
	font-family:sans-serif;
	text-align:center;
  }
  h3 {
	font-weight:100;
	color:black;
	font-family:sans-serif;
  }
  h4 {
	font-weight:100;
	color:black;
	font-family:sans-serif;
  }
  a {
	font-weight:100;
	color:#08146a;
	font-family:monospace;
	font-size:20px;
	justify-content: space-between;
	margin:40px;
	text-align:center;
	
  }
b {
	font-weight:100;
	color:#0c113b;
	font-family:monospace;
	font-size:20px;
	text-align:center;
}
  q {
	font-weight:100;
	color:black;
	font-family:sans-serif;
  
  }
  hr {
	border-color:black;
  }
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 8%;
  }